html{
    font-size:62.5%;
}

body{
    font-size:1.6rem;
}

.mainContainer{
    max-width: 1800px;
    margin:0 auto;
    padding-left:20px;
    padding-right: 20px;
  
  
  
    @media(min-width:992px){
      padding-left:30px;
      padding-right: 30px;
    }
  
    @media(min-width: 1400px){
      padding-left:70px;
      padding-right: 70px;
    }
  }
  
  .sectionTitle{
      text-align: center;
      font-size:2.8rem;

      @media(max-width:576px){
        font-size:2.4rem;
      }

      &:after{
          display: block;
          content:'';
          width: 250px;
          height: 1px;
          margin:15px auto 50px auto;
          background-color:#000;
          
      }
      
  }