.mainBtn{
    border-radius: 25px;
  max-width: 200px;
  width: 200px;
  font-size: 16px;
  font-weight: 500;
  display: inline-block;
  padding: 12px 10px;
  line-height: 22px;
  text-align: center;
  transition: 0.2s;
  text-decoration: none;
  cursor: pointer;
  font-family: Roboto;

  background-color: #FFD100;
    border: 2px solid #FFD100;
    color: #000000;

    &:hover{
        text-decoration: none;
      background-color: #fff6ca;
    }

    &--black {
        background-color: #1F1F1F;
        border: 2px solid #1F1F1F;
        color: #ffffff;
    
        &:hover {
          text-decoration: none;
          background-color: #4D4D4D;
        }
      }
}