.logoMain{
    padding-top:20px;
    &__img{
        max-width: 220px;
        margin-left: -11px;

        @media(max-width:576px){
            max-width: 180px;
        }
    }
}

.header{
    min-height: 300px;
    background-image: url('../images/headerBg.jpg');
    background-size: cover;
    background-position: center;

    &__mainTitle{
        color:#fff;
        font-size:5.4rem;
        font-weight: 700;
        text-align: center;
        letter-spacing: 1px;
        padding-top: 25px;

        @media(max-width:1400px){
            font-size:4.8rem
        }
        @media(max-width:1200px){
            font-size:4.6rem;
        }
        @media(max-width:768px){
            font-size:4.2rem;
            padding-top: 35px;
        }
        @media(max-width:576px){
            font-size:3.5rem;
            padding-top: 50px;
        }
    }
}

.breadcrumbs{

    padding-top:30px;
    display: flex;

    @media(max-width:576px){
        padding-top:20px;
    }

    &__item{
        display: flex;
        align-items: center;
    }

    &__icon{
        fill: #ffd600;
        transform: rotate(180deg);
        display: block;
        width: 28px;
        height: 12px;
    }
    &__link{
        color:lightgray;
        text-decoration: none;

        &--active{
            color:#fff;
        }

        &:hover{
            text-decoration: underline;
        }

        @media(max-width:576px){
            font-size:1.4rem;
        }
    }
}