.logoMain{
    padding-top:20px;
    &__img{
        max-width: 220px;
        margin-left: -11px;

        @media(max-width:576px){
            max-width: 180px;
        }
    }
}

.header{
    //min-height: 300px;
    //background-image: url('../images/headerBg_new.jpg');
    min-height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom right;
    background-image: url(../images/desktop_default_M.jpg);
    @media(max-width: 450px) {
      background-image: url(../images/mobile_default_M.jpg);
      min-height: 250px;
    }

    &__mainTitle{
        color:#fff;
        font-size:5.6rem;
        font-weight: 700;
        text-align: left;
        letter-spacing: 1px;
        padding-top: 60px;

        @media(max-width:1400px){
            font-size:4.8rem
        }
        @media(max-width:1200px){
            font-size:4.6rem;
        }
        @media(max-width:768px){
            font-size:4.2rem;
            padding-top: 35px;
        }
        @media(max-width:576px){
            font-size: 30px;
            line-height: 36px;
            padding-top: 32px;
        }
    }
}

.breadcrumbs{

    padding-top:30px;
    display: flex;

    @media(max-width:576px){
        padding-top:20px;
    }

    &__item{
        display: flex;
        align-items: center;
    }

    &__icon{
        fill: #ffd600;
        transform: rotate(180deg);
        display: block;
        width: 28px;
        height: 12px;
    }
    &__link{
        color:lightgray;
        text-decoration: none;

        &--active{
            color:#fff;
        }

        &:hover{
            text-decoration: underline;
        }

        @media(max-width:576px){
            font-size:1.4rem;
        }
    }
}