.tabContentSpecial{
    padding-bottom: 50px;

    &__item{
        border-radius: 5px;
        background-color: #FFF;
        box-shadow: 0px 2px 10px #DADADA;
        padding: 30px 10px 30px 40px;
        position: relative;
        line-height: 27px;
        padding-bottom:105px;
        position:relative;
        height: 100%;
        transition: .3s;

        &:hover{
            box-shadow: 3px 3px 13px #DADADA;
        }

        &:before{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 11px;
            border-radius: 5px;
            background-color: $yellow;
            height: 100%;
        }

        & + &{
            margin-top:30px;
        }
    }
    &__title{
        font-weight: bold;
        padding-bottom: 10px;
    }
    &__btnWrap{
        position: absolute;
        bottom:25px;
    }
}