@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');


.topLinePageInfo {
  padding: 10px 15px;
  text-align: center;
  border-bottom: 1px solid #b3b3b3;
  background-color: #fff;
    z-index: 3;
}
.topLinePageInfo__text {
  color: #000;
  font-size: 16px;
  font-family: Roboto;
  font-style: normal;
  line-height: 32px;
  letter-spacing: 0.15px;
  font-weight: 400;
  margin:0;
}
@media (max-width: 1200px) {
  .topLinePageInfo__text {
    font-size: 14px;
    line-height: 18px;
  }
}

.topLinePageInfo a:hover{
    text-decoration: underline;
}


.md-header{
    background-color:#000;
}

.yellow{

}

.md-header-nav__button.md-logo img, .md-header-nav__button.md-logo svg{
    width: unset;
    height: 1.8rem;
    margin-left:-5px;
}



.md-typeset .md-button,
.md-typeset .md-button--small,
.md-typeset .md-button--big,
.md-typeset .md-button--primary{
    margin-top:6px;
    margin-bottom:6px;
    border-radius: 25px;
    max-width: 200px;
    width: 200px;
    font-size: 16px;
    font-weight: 500;
    display: inline-block;
    padding: 12px 10px;
    line-height: 22px;
    text-align: center;
    transition: .2s;
    text-decoration: none;
    cursor: pointer;
    font-family: Roboto;
    background-color: #ffd100;
    border: 2px solid #ffd100;
    color: #000;
}

.md-typeset .md-button:hover,
.md-typeset .md-button:active,
.md-typeset .md-button:focus{
    text-decoration: none;
    background-color: #fff6ca;
    border: 2px solid #ffd100;
    color: #000;
}

/*.md-typeset .md-button--small{
    padding: .4em 1em;
    font-size: .6rem;
}

.md-typeset .md-button--big{
    padding: 0.5em 1.4rem;
    font-size: .8rem;
}

.md-typeset .md-button--primary{
    color:#000;
    background-color:#ffd100;
}

.md-typeset .md-button--primary:hover{
    background-color:#fff;
}*/

.md-typeset .admonition.note, 
.md-typeset details.note{
    border-color:#ffd100;
}



.md-typeset .note>.admonition-title, .md-typeset .note>summary{
    background-color:#f0f0f0;
}

.md-typeset .note>.admonition-title::before, .md-typeset .note>summary::before{
    background-color:#ffd100;
}

.md-search-result mark{
    color:unset;
    font-weight: bold;
}

@media screen and (max-width: 76.1875em){
    .md-nav--primary .md-nav__title[for=__drawer] {
        background-color:#000;
    }
}

.md-nav__title .md-nav__button.md-logo img, 
.md-nav__title .md-nav__button.md-logo svg{
    width:130px;
    height: unset;
}



.md-nav--primary .md-nav__title .md-logo{
    padding-left:0;
}

.md-nav--primary .md-nav__item--active>.md-nav__link{
    color:#ffd100;
}

.md-sidebar--primary .md-sidebar__scrollwrap{
    background-color:#e9e9e9;
}

.md-sidebar--primary .md-nav__title{
    text-transform: uppercase;
}

.md-nav--primary .md-nav__item--active>.md-nav__link{
    color:#000;
    font-weight: bold;
}

.md-sidebar--primary .md-nav__item .md-nav__link{
    transition:.3s !important;
    margin-top: .8em;
}

.md-sidebar--primary .md-nav__item .md-nav__link--active{
    color:#000;
    font-weight: bold;
}

.md-sidebar--primary .md-nav__item .md-nav__link:hover,
.md-sidebar--primary .md-nav__item .md-nav__link:active,
.md-sidebar--primary .md-nav__item .md-nav__link:focus{
    text-decoration: underline;
    color:#000;
}

.md-sidebar--primary .md-nav__title{
    padding-top:.3rem;
    padding-bottom:.3rem;
}

.md-sidebar--secondary .md-nav__list{
    padding-left:12px;
}

.md-sidebar--secondary .md-nav__item .md-nav__link[data-md-state=blur]{
    color: var(--md-default-fg-color--light);
}

.md-sidebar--secondary .md-nav__item .md-nav__link{
    color:#000;
    position: relative;
    overflow: unset;
}

.md-sidebar--secondary .md-nav__item .md-nav__link:before{
    display: none;
    content:'';
    width: 2px;
    border-radius: 5px;
    background-color: #ffd100;
    height: 85%;
    left: -11px;
    position: absolute;
    top: 50%;
    transform: translate(0,-50%);
}

.md-sidebar--secondary .md-nav__item .md-nav__link:hover{
    text-decoration: underline;
}

.md-sidebar--secondary .md-nav__item .md-nav__link--active{
    color:#ffd100 !important;
}

.md-sidebar--secondary .md-nav__item .md-nav__link--active:before{
    display: inline-block;
}

.md-footer{
    z-index: 22;
    background-color: #000;
}

@media(min-width:1220px){
    .md-main__inner{
        margin-top:0;
        padding-top:1.25rem;
    }
    
    .md-content{
        position:relative;
        background-color: #fff;
    }
    
    .md-content img{
	image-rendering: -webkit-optimize-contrast; 
    }
    .md-sidebar--primary .md-sidebar__scrollwrap{
        padding-top: 57px;
        margin-top: -60px;
        position:relative;
        min-height: 80vh;
    }
    
    .md-main__inner:before{
        position: absolute;
        content:'';
        background-color:#e9e9e9;
        display: block;
        height: 100%;
        max-width: 600px;
        width: 100%;
        left:-370px;
        top:0;
    }

    .md-header .md-ellipsis{
        margin-left: 77px;
    }

    .md-nav.md-nav--primary{
        padding-bottom:50px;
    }
}

@media(min-width:1500px){
    .md-main__inner:before{
        left:-300px
    }
}

@media(max-width:1220px){
    .md-sidebar--primary .md-nav__title{
        padding-top:3rem;
    }
    .md-sidebar--primary .md-nav__item .md-nav__link{
        margin-top:0;
    }

    .md-sidebar--primary .md-nav__item .md-nav__link--active{
        
    }

    .md-footer{
        z-index: unset;
    }

    
    
}


/* contribute plugin */

.metadata{
    list-style:none;
    list-style-type: none !important;
    padding:0;
    margin:0;
    margin-bottom: 15px;
    color: #999;
    font-size:0.85em;
    margin-left:0 !important;
}

.metadata.page-metadata  .contributors-holder{
    margin-left:0;
}
.metadata.page-metadata .contributors-text{
    margin-right:5px;
    margin-left:0 !important;
    margin-top: -5px;
}
.metadata.page-metadata .contributors-text{
    margin-right:0;
    margin-left:5px
}
.page-metadata .contributors{
    display:inline-block;
    list-style:none;
    margin:0;
    padding:0;
    margin-left:3px;
}
.page-metadata .contributors li{
    display:inline-block;
    vertical-align:top;
    margin:0;
    padding:0;
    margin-left:5px;
    margin-top:2px;
}
.page-metadata .contributors li img{
    border-radius:100%;
    height:22px;
    margin-top:-3px;
    overflow:hidden;
    width:22px
}


.md-header-nav__button:not(.focus-visible){
    margin-left: 45px;
}

.logoMobile{
    position: absolute;
    left: 7px;
    margin-right: 50px;
}

@media(min-width:1220px){
    .logoMobile{
        display: none;
    }

    .md-header-nav__button.md-logo{
        margin-left:3px;
    }

    .md-content{
       /* min-height: 100vh !important;*/
    }

    .md-container{
        min-height: calc(100vh - 64px ) !important;
    }

    .md-sidebar.md-sidebar--primary{
        width: 14rem;
    }

    .md-sidebar--primary .md-nav__item .md-nav__link--active{
        background-color: #f7f7f7;
    }

    .md-sidebar--primary .md-nav__item .md-nav__link{
        margin-top: .5em;
        padding: 4px 11px;
    }

    .md-nav__item{
        padding-right: 0;
    }
}



@media(max-width:768px){
    /* .md-footer-copyright{
        padding-bottom:.5rem;
        justify-content: center;
        text-align: center;
    } */
    .md-footer-meta__inner{
        justify-content: center;
        text-align: center;
        flex-direction: column-reverse;
    }

    .md-footer-meta__linksBox{
        padding-top:7px;
        padding-bottom:7px;
    }

    .md-footer-copyright{
        margin:unset;
    }
}

@media(max-width:576px){
    .md-footer-meta__link{
        margin: 0 17px !important;
    }
}


@media(max-width:450px){
    .md-footer-meta__link {
        margin: 0 8px !important;
        font-size: 0.6rem !important;
    }

    .md-footer-copyright{
        font-size: 0.6rem !important;
    }
}


.md-grid{
    max-width: 69rem;
}

.md-typeset{
    font-size: 0.72rem;
}

.md-typeset h1{
    font-size: 1.85em;
    color: #000;
    font-weight: 400;
}

.md-typeset h2{
    font-size:1.49em;
    color: #000;
}

.md-nav__link{
    color: #000;
}

.md-typeset p, .md-typeset ul, .md-typeset ol, .md-typeset dl, .md-typeset blockquote{
    color: #000;
}

.md-typeset ul li p,
 .md-typeset ul li blockquote, 
 .md-typeset ol li p, 
 .md-typeset ol li blockquote,
 html .md-typeset .admonition>:last-child, 
 html .md-typeset details>:last-child{
    font-size: .7rem;
}

.md-footer-meta__inner{
    align-items: center;
    padding-top: 14px;
    padding-bottom: 14px;
}

.md-footer-meta__link{
    margin:0 23px;
    color:#fff !important;
    font-size: 0.7rem;
}


.md-footer-meta__link:hover{
    color: #ffd100 !important;
}

/* .md-navbottom__inner a:only-child {
    margin-left: auto;
  } */

.md-navbottom__inner{
    display: flex;
    justify-content: space-between;
    padding: 60px 0 0 0;
    flex-wrap: wrap;
}

.md-navbottom__button svg{
    fill:#ffd100;
}

.md-navbottom__title .md-navbottom__direction{
    display: block;
    color:#696969;
    font-size:.65rem;
    font-weight: 400;
}

.md-navbottom__title .md-ellipsis{
    color:#000;
    margin:5px 15px;
    font-weight: bold;
}

.md-navbottom__link{
    display: flex;
    align-items: center;
}

.md-navbottom__link:hover{
    text-decoration: underline;
    color:#000 !important;
}

.md-navbottom__link:hover > *{
    color:#000 !important;
}

.md-navbottom__link--prev{
    margin-left:unset;
    margin-right: auto;
}

.md-navbottom__link--next{
    margin-left:auto;
    margin-right: unset;
}

.md-footer-nav{
    display: none;
}

.md-tabs{
    z-index: 2;
    background-color: #000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.md-header{
    z-index: 3;
}

.md-tabs__link--active{
    font-weight: bold;
}

.md-tabs__link--active, .md-tabs__link:focus, .md-tabs__link:hover{
    color:#fff;
}

.md-tabs__link:after{
    display: block;
    content:'';
    width: 100%;
    height: 2px;
    background-color:#FFD600;
    margin-top: 14px;
    opacity:0;
    transition:.3s;
}

 .md-tabs__link--active::after, .md-tabs__link:focus::after, .md-tabs__link:hover::after{
    opacity:1;
} 


.md-search__input{
    background-color: rgba(255,255,255,.12);
}

.md-search__input:hover {
    background-color: rgba(255,255,255,.26);
}


@media (min-width: 1220px){
    .md-header .md-ellipsis {
        display: none;
    }

    .md-header-nav__button:not(.focus-visible) {
        margin-left: unset;
    }
}



.md-header-nav__title{
    margin-left: 0.3rem;
    font-size:14px;
}

@media(max-width:768px){
    .md-header-nav__topic{
        max-width: 120%;
    }
}


.md-search-result__link:focus, .md-search-result__link:hover {
    background-color: rgba(255,214,0,.20);
}
.md-search-result__more summary:focus, .md-search-result__more summary:hover{
    background-color: rgba(255,214,0,.20);
    color:hsla(231, 48%, 48%, 1);

}

/* sticky menu tab */
@media(min-width:1220px){
    .md-container{
        /*margin-top:35px;*/
    }
    .md-tabs{
        /*position:fixed;*/
        position: sticky;
        left:0;
        /*top:55px;*/
        /*top:110px;*/
    }
    .md-tabs[data-md-state=hidden] .md-tabs__link{
        transform: unset;
        opacity: unset;
    }
    .md-tabs[data-md-state=hidden] {
        pointer-events: unset; 
    }
    .md-sidebar{
        top:110px !important;
    }


    /*.md-header[data-md-state=shadow] .md-tabs{*/
    /*    top:55px;*/
    /*}*/

    /*.md-tabs[data-md-state=hidden]{*/
    /*    top:55px;*/
    /*}*/
}



/* ./sticky menu tab */

.md-header-nav__button{
    padding:.4rem 0;
}

.md-footer-meta.md-typeset a{
    white-space: nowrap;
}

@media(max-width:768px){
    .md-navbottom__link .md-navbottom__title{
        max-width: 90%;
    }
    .md-navbottom__link .md-ellipsis{
        white-space: initial;
        margin: 8px 15px;
    }
    .md-navbottom__link--next{
        margin-left: 24px;
    }
}
