.md-header{
    background-color:#000;
}

.yellow{

}

.md-header-nav__button.md-logo img, .md-header-nav__button.md-logo svg{
    width: unset;
    height: 1.8rem;
    margin-left:-10px;
}



.md-typeset .md-button{
    color:#000;
    border-color:#ffd100;
    padding: 0.4em 1rem;
    font-size: .725rem;
    letter-spacing: .01rem;
}

.md-typeset .md-button:hover,
.md-typeset .md-button:active,
.md-typeset .md-button:focus{
    background-color:#ffd100;
    border-color:#ffd100;
    color:#000;
}

.md-typeset .md-button--small{
    padding: .4em 1em;
    font-size: .6rem;
}

.md-typeset .md-button--big{
    padding: 0.5em 1.4rem;
    font-size: .85rem;
}

.md-typeset .md-button--primary{
    color:#fff;
    background-color:#ffd100;
}

.md-typeset .admonition.note, 
.md-typeset details.note{
    border-color:#ffd100;
}



.md-typeset .note>.admonition-title, .md-typeset .note>summary{
    background-color:#f0f0f0;
}

.md-typeset .note>.admonition-title::before, .md-typeset .note>summary::before{
    background-color:#ffd100;
}

.md-search-result mark{
    color:unset;
    font-weight: bold;
}

@media screen and (max-width: 76.1875em){
    .md-nav--primary .md-nav__title[for=__drawer] {
        background-color:#000;
    }
}

.md-nav__title .md-nav__button.md-logo img, 
.md-nav__title .md-nav__button.md-logo svg{
    width:130px;
    height: unset;
}



.md-nav--primary .md-nav__title .md-logo{
    padding-left:0;
}

.md-nav--primary .md-nav__item--active>.md-nav__link{
    color:#ffd100;
}

.md-sidebar--primary .md-sidebar__scrollwrap{
    background-color:#f7f7f7;
}

.md-sidebar--primary .md-nav__title{
    text-transform: uppercase;
}

.md-nav--primary .md-nav__item--active>.md-nav__link{
    color:#000;
    font-weight: bold;
    padding-left:10px;
}

.md-sidebar--primary .md-nav__item .md-nav__link{
    transition:.3s;
    margin-top: .8em;
}

.md-sidebar--primary .md-nav__item .md-nav__link--active{
    color:#000;
    font-weight: bold;
    padding-left:10px;
}

.md-sidebar--primary .md-nav__item .md-nav__link:hover,
.md-sidebar--primary .md-nav__item .md-nav__link:active,
.md-sidebar--primary .md-nav__item .md-nav__link:focus{
    color:#000;
    font-weight: bold;
    padding-left:10px;
}

.md-sidebar--primary .md-nav__title{
    padding-top:.3rem;
    padding-bottom:.3rem;
}

.md-sidebar--secondary .md-nav__item .md-nav__link:hover{
    color:#ffd100;
}

.md-sidebar--secondary .md-nav__item .md-nav__link--active{
    color:#ffd100;
}

.md-footer{
    z-index: 22;
    background-color: #000;
}

@media(min-width:1220px){
    .md-main__inner{
        margin-top:0;
        padding-top:1.25rem;
    }
    
    .md-content{
        position:relative;
        background-color: #fff;
    }
    
    .md-sidebar--primary .md-sidebar__scrollwrap{
        padding-top: 57px;
        margin-top: -60px;
        position:relative;
    }
    
    .md-main__inner:before{
        position: absolute;
        content:'';
        background-color:#f7f7f7;
        display: block;
        height: 100%;
        max-width: 600px;
        width: 100%;
        left:-370px;
        top:0;
    }
}

@media(min-width:1500px){
    .md-main__inner:before{
        left:-200px
    }
}

@media(max-width:1220px){
    .md-sidebar--primary .md-nav__title{
        padding-top:3rem;
    }
    .md-sidebar--primary .md-nav__item .md-nav__link{
        margin-top:0;
    }

    .md-sidebar--primary .md-nav__item .md-nav__link--active{
        padding-left:25px;
    }

    .md-footer{
        z-index: unset;
    }
}

